.HomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: linear-gradient(to right, #000753, #2caaff);
  color: #fff;
  .content {
    height: auto;
    width: 90%;
    max-width: 600px;
    gap: 20px;

    .links {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;
      a {
        padding: 10px 15px;
        text-align: center;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        background: #3498db;
        text-decoration: none;
        transition: all 0.2s;

        &:hover {
          background: #2980b9;
          transform: scale(1.03);
        }
      }
    }
  }
}
